<div class="h-96 flex items-center justify-center">
    <div>
        <div>
            <h1>Spring 2024 Devotionals Now Available!</h1>
            <h2>The Word For You Today</h2>
            <button>Order Now</button>
        </div>
        <div>
            <img src="{{ asset('images/magazine-cover.jpg') }}" alt="daily devotional" />
        </div>
    </div>
</div>