<div class="h-96  border-solid border-2 border-black flex items-center justify-center"
    style="background-image: {{ asset('images/bnb.jpg') }}"
>
    <div>
        <h1>
            Brunch and Books
        </h1>
        <img src="{{ asset('images/bnb.jpg') }}" />
    </div>
</div>